.furits-item{
    /*margin: 0 auto;*/
    width: 100%;
    margin-top: 5px;
    /*padding: 5px;*/
    border: 1px solid #f1f1f3;
}
.furits-item .furit_pic{
    width: 105px;
    height: 105px;
    opacity: .8
}

span.buy::after{
    content: '';
    width: 32px;
    height: 32px;
    display: inline-block;
    /* float: right; */
    background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+Y29pbi15ZW48L3RpdGxlPgo8cGF0aCBkPSJNMTUgMmMtOC4yODQgMC0xNSA2LjcxNi0xNSAxNXM2LjcxNiAxNSAxNSAxNWM4LjI4NCAwIDE1LTYuNzE2IDE1LTE1cy02LjcxNi0xNS0xNS0xNXpNMTUgMjljLTYuNjI3IDAtMTItNS4zNzMtMTItMTJzNS4zNzMtMTIgMTItMTJjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnMtNS4zNzMgMTItMTIgMTJ6Ij48L3BhdGg+CjxwYXRoIGQ9Ik0xOSAxOGMwLjU1MiAwIDEtMC40NDggMS0xcy0wLjQ0OC0xLTEtMWgtMi4xMzFsMi45NjMtNC40NDVjMC4zMDYtMC40NiAwLjE4Mi0xLjA4MC0wLjI3Ny0xLjM4N3MtMS4wODAtMC4xODItMS4zODcgMC4yNzdsLTMuMTY4IDQuNzUyLTMuMTY4LTQuNzUyYy0wLjMwNi0wLjQ2LTAuOTI3LTAuNTg0LTEuMzg3LTAuMjc3cy0wLjU4NCAwLjkyNy0wLjI3NyAxLjM4N2wyLjk2NCA0LjQ0NWgtMi4xMzJjLTAuNTUyIDAtMSAwLjQ0OC0xIDFzMC40NDggMSAxIDFoM3YyaC0zYy0wLjU1MiAwLTEgMC40NDgtMSAxczAuNDQ4IDEgMSAxaDN2M2MwIDAuNTUyIDAuNDQ4IDEgMSAxczEtMC40NDggMS0xdi0zaDNjMC41NTIgMCAxLTAuNDQ4IDEtMXMtMC40NDgtMS0xLTFoLTN2LTJoM3oiPjwvcGF0aD4KPC9zdmc+");
}
span.collection::after{
    content: '';
    width: 32px;
    height: 32px;
    display: inline-block;
    /* float: right; */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+aGVhcnQ8L3RpdGxlPgo8cGF0aCBkPSJNMjMuNiAyYy0zLjM2MyAwLTYuMjU4IDIuNzM2LTcuNTk5IDUuNTk0LTEuMzQyLTIuODU4LTQuMjM3LTUuNTk0LTcuNjAxLTUuNTk0LTQuNjM3IDAtOC40IDMuNzY0LTguNCA4LjQwMSAwIDkuNDMzIDkuNTE2IDExLjkwNiAxNi4wMDEgMjEuMjMyIDYuMTMtOS4yNjggMTUuOTk5LTEyLjEgMTUuOTk5LTIxLjIzMiAwLTQuNjM3LTMuNzYzLTguNDAxLTguNC04LjQwMXoiPjwvcGF0aD4KPC9zdmc+");
}