.furits-item{
    /*margin: 0 auto;*/
    width: 100%;
    margin-top: 5px;
    /*padding: 5px;*/
    border: 1px solid #f1f1f3;
}
.furits-item .furit_pic{
    width: 105px;
    height: 105px;
    opacity: .8
}